#introduction {  
   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.9)),
    url('img/pas.jpg') 0% 0%/cover
    }

    
    body{
      background: rgb(255, 253, 253);
  }
    .navbar{
         border-bottom: 1px solid rgb(6, 100, 207);
         background-color: #000;
    }
    .fill-viewport {  
       min-height: 100vh
       }

       .text-white-70 { 
            color: rgba(255,255,255,0.7);
            font-size: 77px;
      }
    
      span{
          color:rgb(6, 100, 207);
      }
       
      .text-white-10{  
        font-size: 38px;
        color: rgba(255,255,255,0.7);
      }
      .minn{
        font-size: 38px; 
      }
   .navbar-brand{
      color:rgb(6, 100, 207); 
      font-size: 1.6rem;
      font-family: Dancing Script;
   }
      .row{
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .btn:hover{
          background: transparent;
      }
.btn-2:hover{
      background: rgb(2, 19, 37);
}
      .icons{
          color:rgba(255,255,255,0.7);
          font-size: 1.7rem;
          cursor: pointer;
      }
    

      .fill-80-viewport {
         min-height: 80vh;
       }

   .text-white-50{
       font-size: 3rem;
       margin-top: 16rem;
   }

   .col-row{
        display:flex; 
        justify-content: space-around;
        align-items: center;  
   }

   .box-1,.box-2 {
     padding: 10px;
        
   }
  
    li{
       list-style: none;
        font-size: 19px;

   }
 
   .t-view img{
       width:400px;
   }
   
   .card{
    margin-bottom: 30px;
}
   
.col-22{
     margin-top: 90px;
     text-align: center;
     
}

.col-22 h3{
    font-size: 39px;
}

#info-4 h3{
     font-size: 35px;
     text-align: center;
     margin-top: 50px;
     color:white;
}

.fill-80{
    min-height: 90px;
   border-top: 1px solid rgb(6, 100, 207);
}

.fill-80 p{
     font-size: 21px;
     text-align: center;
     margin-top: 20px;
}


@media (max-width :600px){
    .text-white-70 { 
        font-size: 33px;
  }

  
  .text-white-10{  
    font-size: 23px;
  }
  .minn{
    font-size: 23px; 
  }
}